.menu-item {
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  margin: 0 7.5px 15px;
  overflow: hidden;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.3);

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.1);
      transition: all 6s ease-out;
      &::before {
        transition: opacity 4s;
        opacity: 0.8;
      }
    }

    & .content {
      background: rgba(34, 34, 34, 0.9);
    }
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }
  .background-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #111;
      opacity: 0.3;
      z-index: 1;
    }
  }
  &.large {
    height: 380px;
  }
  .content {
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background: rgba(34, 34, 34, 0.7);
    z-index: 2;
    position: absolute;

    .title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 22px;
      text-transform: uppercase;
      color: #fff;
      text-shadow: 0 1px 2px rgba($color: #000000, $alpha: 0.2);
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
    }
  }
}
